syntax: glob

# Skip all pycaches
__pycache__
bot/__pycache__
instruments/__pycache__

# Skip testing data
testing_data

# Skip config file
*.cfg

# Skip logfile
*.log

# Skip .pyc
*.pyc

# Skip downloads
download/*.png
download/*.pdf
