# Configurations file for IonWatcher Bot

[NETWORK]

# Register your own copy of this bot with @BotFather, and save your own token below.
token = aDdYoUrToKenHere:AskBotFatherForIt
# Server address
server = myserver.mydomain.edu
# Username for remote login to server
user = ionadmin

[COMM]

#Ask for PIN at every X minutes (enter 0 to skip PIN checks):
pin = 0
# Administrators
admins = MyTelegramNickname
# Trusted users
users = 
# Join queue
queue = 
# Blocked users
blocked = 

[MESSAGES]

# Initial greeting, /start command is received by an unknown user
start = Hello, I am the IonWatcher bot at the ### lab at ###. Please type /join if you wish to be added to the joining queue.
# /kill command is received by an admin
kill = Goodbye, cruel world!
# Command issued by unauthorized user
negate = You are not authorized to issue this command. Please type /start to start interacting with this bot.
# tick and untick
tick = Starting to tick VM uptime.
untick = Stopped ticking VM uptime.
